<template>
  <div class="enterprise">
    <div class="addUser" @click="flag = !flag" v-text="flag ? 'Скрыть' : 'Добавить пользователя'"></div>

    <div class="newUser" v-if="flag">
      <form class="form" @submit.prevent="addUser">
        <div class="inputWr">
          <input type="text" v-model="newUser.name" placeholder="Username">
          <input type="tel" v-model="newUser.tel" placeholder="+38">
          <input type="email" v-model="newUser.email" placeholder="email@email.com">
          <input type="text" v-model="newUser.skype" placeholder="skype">
          <input type="text" v-model="newUser.telegram" placeholder="telegram">
          <textarea v-model="newUser.coment" placeholder="coment"></textarea>
        </div>
        <div class="choiceDepatment">
          <label>
            <input type="radio" name="departament" checked value="develop" @click="change(0)">
            <span>develop</span>
          </label>
          <label>
            <input type="radio" name="departament" value="qa" @click="change(1)">
            <span>qa</span>
          </label>
          <label>
            <input type="radio" name="departament" value="marketing" @click="change(2)">
            <span>marketing</span>
          </label>
          <label>
            <input type="radio" name="departament" value="hr" @click="change(3)">
            <span>hr</span>
          </label>
          <label>
            <input type="radio" name="departament" value="accountant" @click="change(4)">
            <span>accountant</span>
          </label>
        </div>
        <input type="submit" class="userAdd" value="Добавить">
      </form>
    </div>

    <div v-for="(enterprise, key) in enterprises" :key="key" class="departament">
      <div class="nameDepartament">Отдел - {{enterprise.name}}</div>
      <div :class="`userWrapper ${enterprise.name}`" >
        <div v-for="(departament, key2) in enterprise.departament" :key="key2" class="user">
          <div class="del" @click="delUser(key, key2)">X</div>
          <div v-if="showEdit === departament.id" class="save" @click="saveUser(departament, key)">save</div>
          <div v-else class="edit" @click="editUser(departament)">edit</div>

          <div class="wrapper">
            <p class="title">ФИО</p>
            <input v-if="showEdit === departament.id" type="text" v-model="departament.name">
            <p v-else class="name">{{departament.name}}</p>
          </div>
          <div class="wrapper">
            <p class="title">телефон</p>
            <input v-if="showEdit === departament.id" type="text" v-model="departament.tel">
            <p v-else class="name">{{departament.tel}}</p>
          </div>
          <div class="wrapper">
            <p class="title">почта</p>
            <input v-if="showEdit === departament.id" type="text" v-model="departament.mail">
            <p v-else class="name">{{departament.mail}}</p>
          </div>
          <div class="wrapper">
            <p class="title">скайп</p>
            <input v-if="showEdit === departament.id" type="text" v-model="departament.skype">
            <p v-else class="name">{{departament.skype}}</p>
          </div>
          <div class="wrapper">
            <p class="title">телеграм</p>
            <input v-if="showEdit === departament.id" type="text" v-model="departament.telegram">
            <p v-else class="name">{{departament.telegram}}</p>
          </div>
          <div class="wrapper">
            <p class="title">комментарий</p>
            <textarea v-if="showEdit === departament.id" v-model="departament.coment"></textarea>
            <p v-else class="name">{{departament.coment}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      flag: false,
      departament: 0,
      showEdit: '',
      newUser: {
        name: '',
        tel: '',
        email: '',
        skype: '',
        telegram: '',
        coment: '',
      }
    }

  },

  computed:{
    enterprises(){
      return this.$store.getters.enterprise ? this.$store.getters.enterprise : {}
    }
  },

  methods:{
    delUser(key, key2){
      this.$store.dispatch('delUser', [key, key2]);
    },
    addUser(){
      this.$store.dispatch('addUser', [this.newUser, this.departament]);
      this.newUser = {};
    },
    change(el){
      this.departament = el;
    },
    editUser(el){
      this.showEdit = el.id;
    },
    saveUser(data, departament){
      this.$store.dispatch('saveUser', [data, departament]);
      this.showEdit = '';
    }
  }
}
</script>

<style scoped lang="scss">
.enterprise{
  .form{
    text-align: left;
    margin-bottom: 30px;
    .inputWr{
      display: flex;
    }
    .choiceDepatment{
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      color: #323136;
      label{
        margin: 2px 0;
        cursor: pointer;
      }
    }
    input:not([type="radio"]){
      height: 28px;
      border: 1px solid #7e8183;
      border-radius: 3px;
      font-size: 1rem;
      color: #323136;
      padding: 0 5px;
      margin-right: 10px;
    }
    textarea{
      border: 1px solid #7e8183;
      border-radius: 3px;
      font-size: 1rem;
      color: #323136;
      padding: 0 5px;
    }
    .userAdd.userAdd{
      text-align: left;
      text-decoration: none;
      border-radius: 5px;
      min-height: 42px;
      height: 42px;
      padding: 0 25px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      background-color: #77b35f;
      font-size: 1rem;
      transition: all .3s ease;
      border: 1px solid #77b35f;
      color: #fff;
      cursor: pointer;
    }
  }
  .addUser{
    text-align: left;
    text-decoration: none;
    border-radius: 5px;
    min-height: 42px;
    height: 42px;
    padding: 0 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background-color: #77b35f;
    font-size: 1rem;
    transition: all .3s ease;
    border: 1px solid #77b35f;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .departament{
    margin-bottom: 30px;
    .nameDepartament{
      font-size: 24px;
      text-align: left;
      font-weight: bold;
      color: #333842;
    }
    .userWrapper {
      display: flex;
      .user{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        width: 300px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 1px 4px 0px #f1f2f7;
        margin: 15px;
        padding: 15px;
        position: relative;
        input, textarea{
          border: 1px solid #7e8183;
          border-radius: 3px;
        }
        p{
          padding: 0;
          margin: 8px 0;
        }
        .del{
          position: absolute;
          top: 10px;
          right: 10px;
          width: 16px;
          height: 16px;
          z-index: 2;
          cursor: pointer;
        }
        .edit, .save{
          position: absolute;
          top: 40px;
          right: 10px;
          z-index: 2;
          cursor: pointer;
          border: 1px solid #fec500;
          padding: 1px 5px;
          border-radius: 4px;
          background-color: #fec500;
          color: #343434;
          transition: all .3s ease 0s;
        }
        .save{
          background-color: #77b35f;
          border-color: #77b35f;
          color: #fff;
        }
      }
    }

  }

}
</style>
